.generator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.generator-tile-container {
    height: 200px;
    width: 200px;
}