.checkbox-label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}

.checkbox-input::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.15em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #9e958e;
}

.checkbox-input:checked::before {
    transform: scale(1);
}

.checkbox-input:focus-visible {
    outline: 2px solid #cb9300;
}