#root {
  margin: 0 auto;
}

@font-face {
  font-family: "Cardenio";
  src: local("Cardenio-Modern"),
  url("./Assets/fonts/Cardenio-Modern.ttf") format("truetype");
}

@font-face {
  font-family: "Cardenio Bold";
  src: local("Cardenio-Modern-Bold"),
  url("./Assets/fonts/Cardenio-Modern-Bold.ttf") format("truetype");
}
