#root {
  margin: 0 auto;
}

@font-face {
  font-family: "Cardenio";
  src: local("Cardenio-Modern"),
  url("./Assets/fonts/Cardenio-Modern.ttf") format("truetype");
}

@font-face {
  font-family: "Cardenio Bold";
  src: local("Cardenio-Modern-Bold"),
  url("./Assets/fonts/Cardenio-Modern-Bold.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.checkbox-container > label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #9e958e;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid #cb9300;
}